*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
header{
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: white;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  /* top: 0; */
  padding: 1.5em 3em;
}
header img{
  height: 3em;
  margin: 0 .7em;
}
header h1{
  font-size: 1.8em;
  /* padding-left:10px; */
  color: #174D99;
}
header .fa-solid{
  display:none;
}
#title-logo{
  display: flex;
  align-items: center;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  padding: 0.8em 0.7em;
  /* position: relative; */
}

nav ul li::after{
  content: '';
  width: 0%;
  height: .125em;
  background: #D3A518;
  display: block;
  margin: auto;
  transition: 0.4s;
}

nav ul li:hover::after{
  width: 100%
}

nav ul li a{
  text-decoration: none;
  color: #174D99;
  font-weight:600;
  font-size: 1.2em;
}

@media (max-width: 900px) {
  header{
    padding: 1.5em 1.5em;
  }
  header img{
    height: 3em;
    margin: 0 .5em;
  }
  header h1{
    font-size: 1.4em;
  }
  header .fa-solid{
    display: block;
    color:#174D99;
    margin:1.5em;
    font-size: 1.5em;
    cursor: pointer;
  }
  nav {
    position:absolute;
    background: #5B7DD0;
    height: 100vh;
    width: 15em;
    top:0;
    right: -15em;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav ul{
    padding: 1.5em;
  }
  nav ul li{
    display: block;
  }
  nav ul li a{
    color:white;
    font-size: 1.4em;
  }
  nav .fa-solid{
    color:white;
  }
}
@media (max-width: 450px) {
  header h1{
    font-size: 1.2em;
  }
  header img{
    height: 2em;
  }
}
.buttons{
  display: inline-block;
  padding:0.6em 0.8em;
  border: .250em solid  #D3A518;
  font-weight: 600;
  text-decoration: none;
  color: #5B7DD0;
  margin: 0.3em 0;
  font-size: 1.2em;
  background: #E8EFFF;
  border-radius: 15px;
}
.buttons:hover{
  background: #174D99;
  cursor: pointer;
  color: #E8EFFF;
}

#home{
  background-image: linear-gradient(rgba(23,77,153,0.7),rgba(23,77,153,0.7)), url(images/background_3.png);
  background-position: center;
  background-size: cover;
  padding-top:15em;
  padding-bottom: 13em;
  text-align: center;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home div{
  width: 95%;
}
#home h1{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2em;
  color: white;
}
#home span{
  display: block;
  font-size: .8em;;
  font-weight: 200;
  padding-top: .2em;
}

@media (max-width: 550px) {
  #home h1{
    font-size: 1.7em;
  }
  #home span{
    font-size: .8em;
  }
}

#random_variables{
  width:90%;
  margin: 3em auto;
  /* padding:10vh 0; */
  color: rgba(13,57,123,0.9);

}
#random_variables h1{
  font-size: 2em;
  padding-bottom: .5em;
  color: #D3A518;
}
#random_variables p{
  font-weight:400;
  font-size: 1.3em;
  line-height: 1.5;
  text-align: justify;
}
#intro{
  width: 100%;
  display: flex;
  align-items: center;
}
#intro img{
  /* float:right; */
  margin: 1.2em 1.7em;
  height: 11em;
}
.row{
  width: 100%;
  display: flex;
  margin-top: 3.5em;
  justify-content:space-between;
}
.rand-var{
  flex-basis: 48%;
  padding: 0 1.7em;
  border: 3px solid #D3A518;
  position:relative;
  background: #E8EFFF;
  /* margin-top: 20px; */
}
.rand-var h3{
  font-size: 1.5em;
  font-weight: bolder;
  position: absolute;
  top:-20px;
  background: linear-gradient(white,#E8EFFF);
}
.rand-var p{
  margin: 1.4em 0;
}
@media (max-width: 900px) {
  #intro{
    flex-direction: column;
  }
  .row{
    flex-direction:column;
    margin-top: 2em;
  }

  .rand-var{
    margin-bottom: 2em;
  }
}

.distributions{
  background-image: linear-gradient(rgba(23,77,153,0.8),rgba(23,77,153,0.8)),url(images/dist3.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  padding:3em 4em;
}

.distributions h1{
  font-size: 2em;
  color: #D3A518;
}

.distributions::after{
  content: '';
  width: 100%;
  height: 3em;
  background: white;
  display: block;
  position: absolute;
  bottom: 0px;
  left:0;
}

.distri-links{
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0;
  justify-content: center;
}
.distribution{
  flex-basis: 31%;
  text-align: center;
  margin: .3em;
  position: relative;
}
.distribution::before{
  content: '';
  width: 100%;
  height:.125em;
  background: #D3A518;
  display: block;
  margin: auto;
}
.distribution::after{
  content: '';
  width: 50%;
  height:.125em;
  background-color: #D3A518;
  display: block;
  margin: auto;
}
.distribution h4{
  font-size: 1.3em;
  padding: 0.7em 0;
  color: white;
}
.distribution p{
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: .8em;
}
@media (max-width: 900px) {
  .distribution{
    flex-basis: 45%;
  }
}
@media (max-width: 600px) {
  .distribution{
    flex-basis: 45%;
  }
  /* .distributions::after{
    content: '';
    width: 100%;
    height: 3em;
    background: white;
    display: block;
    position: absolute;
    bottom: 0px;
    left:0;
  } */
  .distribution h4{
    font-size: 1.2em;
  }
  .distribution p{
    font-size: 0.9em;
  }

  .distribution .buttons{
      font-size: .9em;
  }

}
